.config/litecli/history
.config/litecli/log
.config/zsh/.zsh_sessions
.config/zsh/.zcompcache
.config/micro/buffers
.zcompdump
.zsh_sessions
todo.md

# OS files
.DS_Store

# Dependencies
node_modules/
